.footer-content {
    height: 600px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index10.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    @include mobile {
        background-position: left center;
    }
    .container {
        padding-top: 310px;
        .title {
            color: #8d8d8d;
            font: normal normal 600 32px/48px PingFang TC;
            .block {
                display: block;
            }
        }
        .subscribe-group {
            width: 30%;
            display: flex;
            margin-top: 20px;
            border: 2px solid #916000;
            border-radius: 4px;
            border-right: none;
            @include mobile {
                width: 100%;
            }
            input {
                padding: 20px;
                border: none;
                outline: none;
                @include pad {
                    padding: 20px 10px;
                }
            }
            .email {
                width: 65%;
                @include mobile {
                    width: 60%;
                }
                &::placeholder {
                    color: #8d8d8d;
                    font: normal normal medium 16px/24px SF Pro Text;
                }
            }
            .subscribe {
                width: 35%;
                color: #fff;
                background-color: #916000;
                font: normal normal medium 16px/24px SF Pro Text;
                margin-left: 1px;
                cursor: pointer;
                transition: 0.5s;
                @include mobile {
                    width: 40%;
                }
                &:hover {
                    color: #000;
                    font-weight: bold;
                }
            }
        }
    }
}
