<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- Font-awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  </link>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header -->
  <div class="header container">
    <h1 class="logo"><a href="index.html">Logo</a></h1>
    <ul class="menu">
      <li><a href="product.html">
          <i class="fas fa-box"></i>
          Product</a></li>
      <li class="PC-login"><a href="login.html">
          <i class="fas fa-user"></i>
          <!-- 太神拉 -->
          <% if (title === "Mypage") { 
            %> Mypage <% 
         } else {
            %> Log in  <%
         } %>
        </a>
      </li>
      <li><a href="#">
          <i class="fas fa-heart"></i>
          Wishlist</a></li>
      <li class="MB-blog"><a href="#">Blog</a></li>
      <li class="MB-contact"><a href="#">Contact</a></li>
      <li class="MB-login"><a href="login.html">
        <% if (title === "Mypage") { 
          %> Mypage <% 
       } else {
          %> Log in  <%
       } %>
      </a></li>
      <li class="PC-cart"><a href="#">
          <i class="fas fa-shopping-cart"></i>
          Cart(3)
        </a></li>
    </ul>
    <div class="mobile-group">
      <i class="cart fas fa-shopping-cart">
      </i>
      <span class="box"></span>
      <span class="number">3</span>
    </div>
  </div>

  <%- contents %>

  <div class="footer-bottom">
    <div class="container">
      <h1 class="logo">
        <a href="index.html">Logo</a>
      </h1>
      <span class="copyRight">&copy;2020. All Rights Reserved.</span>
      <ul class="menu">
        <li><a href="product.html">Product</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="./assets/js/login.js"></script>
</body>

</html>