// product-intro
.product-intro {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 60px;
    @include mobile {
        flex-direction: column-reverse;
        padding: 40px 0;
    }
    .MB-pic {
        display: none;
        @include mobile {
            display: block;
            height: 220px;
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/product1.jpg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .pic-group {
        width: 66%;
        @include mobile {
            width: 100%;
        }
        li {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            & + li {
                margin-top: 30px;
                @include mobile {
                    margin-top: 16px;
                }
            }
        }
        .pic-one {
            height: 460px;
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/product1.jpg");
            @include mobile {
                display: none;
            }
        }
        .pic-two {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .common {
                width: 48%;
                height: 640px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                @include mobile {
                    width: 100%;
                }
            }
            .sub-pic-one {
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/product2.jpg");
            }
            .sub-pic-two {
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/product3.jpg");
                @include mobile {
                    margin-top: 16px;
                }
            }
        }
        .pic-three {
            height: 460px;
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/product1.jpg");
        }
    }
    .intro {
        width: 32%;
        @include mobile {
            width: 100%;
            margin-top: 28px;
        }
        .title {
            font: normal normal bold 32px/48px SF Pro Text;
        }
        .text {
            font: normal normal 300 20px/30px PingFang TC;
        }
        .price {
            font: normal normal 300 20px/30px SF Pro Text;
            margin: 32px 0 12px;
        }
        .order-info {
            display: flex;
            border: 1px solid $color-primary;
            border-radius: 4px;
            select {
                width: 50%;
                outline: none;
                border: none;
                border-radius: 4px 0 0 4px;
            }
            .submit {
                width: 50%;
                padding: 14px 0;
                outline: none;
                border: none;
                color: #fff;
                background-color: $color-primary;
                font: normal normal normal 16px/22px PingFang TC;
                cursor: pointer;
            }
        }
        .collection {
            display: block;
            margin: 8px 0 80px;
            color: #000;
            font: normal normal normal 16px/24px PingFang TC;
            @include mobile {
                margin: 8px 0 40px;
            }
            &.active {
                .heart {
                    color: $color-primary;
                }
            }
        }
        .notification {
            li + li {
                margin-top: 20px;
            }
            .sub-title {
                font: normal normal medium 16px/24px SF Pro Text;
            }
            .text {
                font: normal normal 300 16px/24px PingFang TC;
                margin-top: 8px;
            }
        }
    }
}
