// product-classify
.product-classify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0;
    @include mobile {
        padding: 40px 0;
    }
    .item {
        width: 23%;
        @include mobile {
            width: 48%;
            &:nth-child(n + 3) {
                margin-top: 30px;
            }
        }
        .pic {
            height: 255px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            @include mobile {
                height: 165px;
            }
        }
        .item-one {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products1.jpg");
        }
        .item-two {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index6.jpg");
            background-position: bottom center;
        }
        .item-three {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products3.jpg");
        }
        .item-four {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products4.jpg");
            background-position: top center;
        }
        .item-five {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products5.jpg");
        }
        .item-six {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index4.jpg");
            background-position: left center;
        }
        .item-seven {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products7.jpg");
        }
        .item-eight {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products8.jpg");
        }
        .item-nine {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index3.png");
        }
        .item-ten {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products10.jpg");
        }
        .item-eleven {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products11.jpg");
        }
        .item-twelve {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products12.jpg");
        }
        .title {
            font: normal normal 600 24px/36px SF Pro Text;
            @include mobile {
                font: normal normal 600 20px/30px SF Pro Text;
            }
        }
        .sub-title {
            font: normal normal 300 16px/24px SF Pro Text;
        }
        .price {
            font: normal normal 300 16px/24px SF Pro Text;
            .original-price {
                color: #8d8d8d;
                text-decoration: line-through;
                margin-left: 8px;
            }
        }
        .fas {
            font-size: 20px;
            color: $color-primary;
            margin-right: 10px;
            margin-top: 2px;
            cursor: pointer;
        }
        &:nth-child(n + 5) {
            margin-top: 60px;
            @include mobile {
                margin-top: 30px;
            }
        }
    }
}

// pagination
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    @include mobile {
        margin-bottom: 40px;
    }
    li {
        a {
            color: #000;
            font: normal normal normal 20px/30px SF Pro Text;
        }
    }
    li + li {
        margin-left: 20px;
    }
    .default {
        color: #ac8a46;
        position: relative;
        &::after {
            content: "";
            width: 20px;
            height: 2px;
            background-color: #ac8a46;
            position: absolute;
            left: -5px;
            bottom: 0;
        }
    }
}
